<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>{{title}}</title>
  <link href="{{css}}" rel="stylesheet">
</head>
<body>
    {{> navbar}}

    <div class="container-fluid">
        <div class="row flex-center">
            <div class="col">
              <h2>{{pages.index.title}}</h2>
              <p>
                {{pages.index.intro}}
              </p>
            </div>
        </div>
    </div>
    <script src="{{js}}"></script>
</body>
</html>
