<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>{{title}}</title>
  <link href="{{css}}" rel="stylesheet">
</head>
<body>
    {{> navbar}}

    <div class="container-fluid">
        <div class="row flex-center">
            <div class="col">
              <h2>{{pages.list.title}}</h2>
              <p>
                {{pages.list.intro}}
              </p>
              <ul class="js--items">
                <li>
                  Name
                  <a class="edit" href="#">Edit</a>
                  <a class="delete" href="#">Delete</a>
                </li>
              </ul>
            </div>
        </div>
    </div>
    <script src="{{js}}"></script>
</body>
</html>
