<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>{{title}}</title>
  <link href="{{css}}" rel="stylesheet">
</head>

<body>
    {{> navbar}}
    <div class="container-fluid">
        <div class="row flex-center">
            <div class="col">
              <h2>{{pages.new.title}}</h2>
              <p>
                {{pages.new.intro}}
              </p>
            </div>
        </div>
        <div class="row">
            <div id="vue-app"  class="col col-8 offset-2">
                <new-alias v-bind:endpoint="'{{endpoint}}/new'" />
            </div>
        </div>
    </div>
    <script src="{{js}}"></script>
</body>
</html>
